@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Montserrat", sans-serif;
    line-height: 35px;
}

body {
    background-color: rgb(0, 0, 0);
    background-color: #1f1f1f;
    color: #fdfdfd;
}

button {
    width: 150px;
    height: 40px;
    background-color: #1f1f1f;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid white;
    color: white;

    transition: all 0.6s ease;
}

button:hover {
    transition: all 0.6s ease;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

button:active {
    transition: all 0.1s ease;
    background-color: #1f1f1f;
    color: rgb(255, 255, 255);
}

a {
    color: #ffffff;
    text-decoration: none;
    /* font-weight: 600; */
}


.resume {
    display: flex;
    flex-direction: column;
    gap:200px;
    margin: 20px auto;
    /* padding: 20px; */
    max-width: 1000px;
    /* border: 1px solid black; */
}

.info {
    margin-top: 200px;
    min-height: 300px;
    display: flex;
    position: relative;
    padding: 20px;
}

.avatar-name {
    border-radius: 15px;
    box-shadow: 0px 0px 200px rgb(248, 245, 44);   
    margin-right: 10%;
    width: 300px;
    background-image: url('/img/avatarjpg.jpg');
    background-size: cover;
    background-position: center;
}

.info-info {
    max-width: auto;
    font-size: 18px;
    /* line-height: 35px; */

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.name {
    font-size: 32px;
    margin-bottom: 6px;
    margin-right: 50px;
}

.list-social {

    margin-bottom: 6px;
}

.list-social-content {
    width: auto;
    display: flex;
    justify-content: space-between;

    /* padding: 10px; */
    /* border-radius: 20px;
    background-color: #5a5858; */
}

.list-social-content-item {
    display: flex;
    border-radius: 20px;
    /* background-color: #1f1f1f; */
    padding: 0px 10px;

    transition: all 0.4s;
}

.list-social-content-item:hover {
    transition: all 0.4s;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.list-social-content-item:active {
    transition: all 0.4s;
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.icon-image {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background-size: cover;
}

.icon-image-tg {
    background-image: url('/img/icons8-телеграмма-app-50.png');
}

.icon-image-rutube {
    background-image: url('/img/icon-youtube.png');
}

.icon-image-vk {
    background-image: url('/img/iconfinder-social-media-applications-32vk-4102593_113806.png');
    /* background-image: url('/img/iconfinder-social-media-applications-32vk-4102593_113806.png'); */
}

.icon-image-git {
    /* background-image: url('/img/icons8-github-50.png'); */
    background-image: url('/img/icons8-github-50.png');
}

.content {
    position: absolute;
    right: 20px;
    top: 20px;
}

.content-burger {
    position: absolute;
    right: 20px;
    top: 20px;

    display: none;
    width: 40px;
    height: 40px;
    background-image: url('/img/burger.png');
    background-size: cover;

    cursor: pointer;

}

@media (max-width: 950px) {
    p {
        font-size: 14px;
    }

    h3 {
        font-size: 16px;
    }

    .name {
        font-size: 24px;
    }
}

@media (max-width: 900px) {
    .info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .name {
        font-size: 32px;
    }

    .avatar-name {
        width: 300px;
        height: 300px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .content-burger {
        display: block;
    }

    .content {
        display: none;
    }
}